In [ ]:
#import libraries
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
#load dataset
dataFrame = pd.read_csv("/content/application_train.csv")
dataFrame.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1.0,Cash loans,M,N,Y,0.0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0.0,Cash loans,F,N,N,0.0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0.0,Revolving loans,M,Y,Y,0.0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0.0,Cash loans,F,N,Y,0.0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0.0,Cash loans,M,N,Y,0.0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#check the data if there's a NaN value
dataFrame.isna().values.any()

In [ ]:
#check the features
print(dataFrame.dtypes)

In [ ]:
#prepare the training set
X = dataFrame.iloc[:, :-1]
y = dataFrame.iloc[:, -1]

In [ ]:
#plot the relation of each features to the target
plt.xlabel("CUSTOMERS")
plt.ylabel("CODE_GENDER")

pltX = dataFrame.loc[:, "TARGET"]
pltY = dataFrame.loc[:, "CODE_GENDER"]
plt.scatter(pltX, pltY, color="blue", label="TARGET")

In [ ]:
#split the data into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#train the model
model = LogisticRegression()
model.fit(X_train, y_train)

In [ ]:
#test the model
predictions = model.predict(X_test)
print(predictions)
print()

In [ ]:
#check precision, recall, f1-score
print(classification_report(y_test, predictions))
print("accuracy: ", accuracy_score(y_test, predictions))